* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #EFF3F8;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* CSS에서의 변수 선언 */
/* :root : 사작지점 */
:root {
  /* 변수명은 무조건 '--변수명'로 시작 */
  --persnoal-color-1: #26282b;
  --persnoal-color-2: #EFF3F8;
}

body {
  /* 변수 사용: var(변수명) 호출 */
  background-color: var(--persnoal-color-1);
}

#root {
  max-width: 1100px;
  margin: 0 auto;
}